<!DOCTYPE html>
<html>
<head>
    <title>Yum Willow</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌿</text></svg>">
</head>
<body>
    <nav>
        <ul>
            
            
            {% if session.user_id %}
                
                <li><a href="/home">Recipes</a></li>
                <li><a href="/add">Add Recipe</a></li>
                <li><a href="/logout">Logout</a></li>
                
            {% else %}
                <li><a href="/">🌿</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            {% endif %}
        </ul>
    </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
</html>